<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div>
                <h1 id="google-4">Search Artist</h1>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for an artist" id="filter-text-val" onkeyup="filterText()"
                    list="big_artists">
                <datalist id="big_artists">
                    <option value="2Pac"></option>
                    <option value="50 Cent"></option>
                    <option value="AZ"></option>
                    <option value="Aaliyah"></option>
                    <option value="Above the Law"></option>
                    <option value="Ace Hood"></option>
                    <option value="Aesop Rock"></option>
                    <option value="Afu-Ra"></option>
                    <option value="Akon"></option>
                    <option value="Anybody Killa"></option>
                    <option value="Apathy"></option>
                    <option value="Arcade Fire"></option>
                    <option value="Army of the Pharaohs"></option>
                    <option value="Asher Roth"></option>
                    <option value="Atmosphere"></option>
                    <option value="B.o.B"></option>
                    <option value="BET"></option>
                    <option value="Beanie Sigel"></option>
                    <option value="Beastie Boys"></option>
                    <option value="Beyonc"></option>
                    <option value="Big Boi"></option>
                    <option value="Big Daddy Kane"></option>
                    <option value="Big K.R.I.T."></option>
                    <option value="Big L"></option>
                    <option value="Big Pun"></option>
                    <option value="Big Sean"></option>
                    <option value="Big Tymers"></option>
                    <option value="Birdman"></option>
                    <option value="Birdman & Lil Wayne"></option>
                    <option value="Bizzy Bone"></option>
                    <option value="Black Eyed Peas"></option>
                    <option value="Black Rob"></option>
                    <option value="Black Sheep"></option>
                    <option value="Black Star"></option>
                    <option value="Blackalicious"></option>
                    <option value="Bob Dylan"></option>
                    <option value="Bobby Brackins"></option>
                    <option value="Bomfunk MC's"></option>
                    <option value="Bone Thugs-N-Harmony"></option>
                    <option value="Brandon Flowers"></option>
                    <option value="Bubba Sparxxx"></option>
                    <option value="Bun B"></option>
                    <option value="Bushwick Bill"></option>
                    <option value="Busta Rhymes"></option>
                    <option value="C-Bo"></option>
                    <option value="Cam'ron"></option>
                    <option value="Canibus"></option>
                    <option value="Cassidy"></option>
                    <option value="CeeLo Green"></option>
                    <option value="Celph Titled"></option>
                    <option value="Chamillionaire"></option>
                    <option value="Charizma & Peanut Butter Wolf"></option>
                    <option value="Charles Hamilton"></option>
                    <option value="Chiddy Bang"></option>
                    <option value="Chino XL"></option>
                    <option value="Chris Webby"></option>
                    <option value="Clipse"></option>
                    <option value="Cold 187um"></option>
                    <option value="Common"></option>
                    <option value="Cormega"></option>
                    <option value="Crooked I"></option>
                    <option value="CunninLynguists"></option>
                    <option value="D12"></option>
                    <option value="DJ Jazzy Jeff"></option>
                    <option value="DJ Khaled"></option>
                    <option value="DJ Muggs & GZA The Genius"></option>
                    <option value="DJ Quik"></option>
                    <option value="DMX"></option>
                    <option value="Damani Nkosi"></option>
                    <option value="Das EFX"></option>
                    <option value="David Banner"></option>
                    <option value="De La Soul"></option>
                    <option value="Diddy"></option>
                    <option value="Diverse"></option>
                    <option value="Do or Die"></option>
                    <option value="Dom Pachino"></option>
                    <option value="Domo Genesis"></option>
                    <option value="Dorrough Music"></option>
                    <option value="Dr. Dre"></option>
                    <option value="Drake"></option>
                    <option value="Drake, Kanye West, Lil Wayne & Eminem"></option>
                    <option value="E.S.G."></option>
                    <option value="EPMD"></option>
                    <option value="Eazy-E"></option>
                    <option value="Eminem"></option>
                    <option value="Equipto"></option>
                    <option value="Eric B. & Rakim"></option>
                    <option value="Esau"></option>
                    <option value="Everlast"></option>
                    <option value="Fabolous"></option>
                    <option value="Fat Joe"></option>
                    <option value="Fatlip"></option>
                    <option value="Foxy Brown"></option>
                    <option value="Freeway"></option>
                    <option value="Fugees"></option>
                    <option value="Funkmaster Flex"></option>
                    <option value="GZA"></option>
                    <option value="Gang Starr"></option>
                    <option value="Geto Boys"></option>
                    <option value="Ghostface Killah"></option>
                    <option value="Glasses Malone"></option>
                    <option value="Goodie Mob"></option>
                    <option value="Grandmaster Flash & The Furious Five"></option>
                    <option value="Gucci Mane"></option>
                    <option value="Gudda Gudda"></option>
                    <option value="Heene Boyz"></option>
                    <option value="Hi-Tek"></option>
                    <option value="Hilltop Hoods"></option>
                    <option value="Ice Cube"></option>
                    <option value="Immortal Technique"></option>
                    <option value="Insane Clown Posse"></option>
                    <option value="J Dilla"></option>
                    <option value="J. Cole"></option>
                    <option value="J.J. Brown"></option>
                    <option value="J.R. Writer"></option>
                    <option value="JAY-Z"></option>
                    <option value="JAY-Z & T.I."></option>
                    <option value="Jadakiss"></option>
                    <option value="Jamie Foxx"></option>
                    <option value="Jay Electronica"></option>
                    <option value="Jay Sean"></option>
                    <option value="Jean Grae"></option>
                    <option value="Jedi Mind Tricks"></option>
                    <option value="Jeezy"></option>
                    <option value="Jeru the Damaja"></option>
                    <option value="Jim Jones"></option>
                    <option value="Joe Budden"></option>
                    <option value="Joell Ortiz"></option>
                    <option value="Juelz Santana"></option>
                    <option value="Junior M.A.F.I.A."></option>
                    <option value="Justin Bieber"></option>
                    <option value="Juvenile"></option>
                    <option value="K'naan"></option>
                    <option value="Kanye West"></option>
                    <option value="Kevin Rudolf"></option>
                    <option value="Khia"></option>
                    <option value="Kid Cudi"></option>
                    <option value="King Chip"></option>
                    <option value="Klashnekoff"></option>
                    <option value="Kool G. Rap & DJ Polo"></option>
                    <option value="Lady Gaga"></option>
                    <option value="Lakim Shabazz"></option>
                    <option value="Lauryn Hill"></option>
                    <option value="Lil B"></option>
                    <option value="Lil Jon & The East Side Boyz"></option>
                    <option value="Lil Wayne"></option>
                    <option value="Lil' Kim"></option>
                    <option value="Lloyd Banks"></option>
                    <option value="Loaded Lux"></option>
                    <option value="Lowkey"></option>
                    <option value="Ludacris"></option>
                    <option value="Ludacris & Shawnna"></option>
                    <option value="Luniz"></option>
                    <option value="Lupe Fiasco"></option>
                    <option value="M.I.A."></option>
                    <option value="M.I.M.S"></option>
                    <option value="M.O.P."></option>
                    <option value="MC Jin"></option>
                    <option value="MF DOOM"></option>
                    <option value="Ma$e"></option>
                    <option value="Madvillain"></option>
                    <option value="Mario"></option>
                    <option value="Masta Ace"></option>
                    <option value="Master P"></option>
                    <option value="Memphis Bleek"></option>
                    <option value="Meth  Ghost  Rae"></option>
                    <option value="Method Man"></option>
                    <option value="Method Man & Redman"></option>
                    <option value="Metta Sandiford-Artest"></option>
                    <option value="Miguel"></option>
                    <option value="Missy Elliott"></option>
                    <option value="Mobb Deep"></option>
                    <option value="Mr. Lif"></option>
                    <option value="Mystikal"></option>
                    <option value="N.W.A"></option>
                    <option value="Nas"></option>
                    <option value="Nas & Damian Marley"></option>
                    <option value="Naughty By Nature"></option>
                    <option value="Neil Young"></option>
                    <option value="Nelly"></option>
                    <option value="Nicki Minaj"></option>
                    <option value="Non-Prophets"></option>
                    <option value="OJ da Juiceman"></option>
                    <option value="Ol' Dirty Bastard"></option>
                    <option value="Omen (Producer)"></option>
                    <option value="OutKast"></option>
                    <option value="P-Money (Producer)"></option>
                    <option value="Pac Div"></option>
                    <option value="Pill"></option>
                    <option value="Pras"></option>
                    <option value="Project Pat"></option>
                    <option value="Public Enemy"></option>
                    <option value="Puff Daddy & the Family"></option>
                    <option value="Queen"></option>
                    <option value="R. Kelly"></option>
                    <option value="Raekwon"></option>
                    <option value="Rakim"></option>
                    <option value="Re-Up Gang"></option>
                    <option value="Red Cafe"></option>
                    <option value="Reflection Eternal"></option>
                    <option value="Rich Boy"></option>
                    <option value="Rick Ross"></option>
                    <option value="Rihanna"></option>
                    <option value="Robin Thicke"></option>
                    <option value="Royce da 5'9""></option>
                    <option value=" Sage Francis"></option>
                    <option value="Saul Williams"></option>
                    <option value="Scarface"></option>
                    <option value="Sean Price"></option>
                    <option value="Seventh Floor Crew"></option>
                    <option value="Sheek Louch"></option>
                    <option value="Skee-Lo"></option>
                    <option value="Skillz"></option>
                    <option value="Slaughterhouse"></option>
                    <option value="Slick Rick"></option>
                    <option value="Slim Thug"></option>
                    <option value="Snoop Dogg"></option>
                    <option value="Snow"></option>
                    <option value="Soul Intent"></option>
                    <option value="Soul Position"></option>
                    <option value="Special Ed"></option>
                    <option value="Spice 1"></option>
                    <option value="Sugarhill Gang"></option>
                    <option value="Sway"></option>
                    <option value="Swizz Beatz"></option>
                    <option value="T.I."></option>
                    <option value="Talib Kweli"></option>
                    <option value="Tech N9ne"></option>
                    <option value="The Beatnuts"></option>
                    <option value="The Clash"></option>
                    <option value="The Coup"></option>
                    <option value="The Diplomats"></option>
                    <option value="The Game"></option>
                    <option value="The Gregory Brothers"></option>
                    <option value="The Killers"></option>
                    <option value="The Lady of Rage"></option>
                    <option value="The Notorious B.I.G."></option>
                    <option value="The Roots"></option>
                    <option value="The Streets"></option>
                    <option value="Thug Life"></option>
                    <option value="Timbaland"></option>
                    <option value="Tom Tom Club"></option>
                    <option value="Too $hort"></option>
                    <option value="Travie McCoy"></option>
                    <option value="Trillville"></option>
                    <option value="Twista"></option>
                    <option value="UGK"></option>
                    <option value="Usher"></option>
                    <option value="Vampire Weekend"></option>
                    <option value="Waka Flocka Flame"></option>
                    <option value="Wale"></option>
                    <option value="Warren G"></option>
                    <option value="Wiz Khalifa"></option>
                    <option value="Wu-Tang Clan"></option>
                    <option value="Wyclef Jean"></option>
                    <option value="Xzibit"></option>
                    <option value="Yasiin Bey"></option>
                    <option value="Yo Gotti"></option>
                    <option value="Young Money"></option>
                    <option value="YoungBloodZ"></option>
                    <option value="dead prez"></option>
                    <option value="eLZhi"></option>
                    <datalist>

            </div>
        </div>
        <div id="answer-box" onclick="feedback()">
            <!-- <span class="material-symbols-outlined" onclick="updateList()">update</span> -->
        </div>
    </div>

    <script>
        function updateButtonTemplate() {
            return `<span class="material-symbols-outlined" onclick="updateList()">update</span>`
        }

        function answerBoxTemplate(title, titleDesc = "", rating = "", image = "", listens = "", reviews = "") {
            return `<div class='artist-box' data-artist-id=${title}>
                <h3 class='song-name'>Artist Name: ${title}</h3>
                <p class='artist-name'>Top songs: ${titleDesc}</p>
                <p class='song-rating'>Artist Similarity Rating: ${rating}</p>
                <p class='monthly-listens'>Monthly Listens: ${listens}</p>
                <p class='reviews'>Reviews: ${reviews}</p>
                <img class='artist-images' src=${image} alt="Artist image">
                <div class='ratings-container'>
                    <div class='rating'>
                        <span class="rating-button material-icons">thumb_up</span>
                        <span class="rating-count">0</span>
                    </div>
                    <div class='rating'>
                        <span class="rating-button material-icons">thumb_down</span>
                        <span class="rating-count">0</span>
                    </div>
                </div>
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            let tempDiv = document.createElement("div")
            console.log(document.getElementById("filter-text-val").value)
            fetch("/songs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then(
                    tempDiv.innerHTML = updateButtonTemplate(),
                    document.getElementById("answer-box").appendChild(tempDiv))
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    artist_name = row[0]
                    artist_image = row[1]
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(artist_name, titleDesc = "", rating = "", image = artist_image)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        function feedback() {
            document.querySelectorAll(".artist-box").forEach(box => {
                const artistId = box.dataset.artistId
                const ratings = box.querySelectorAll(".rating");
                const likeRating = ratings[0];

                ratings.forEach(rating => {
                    const button = rating.querySelector(".rating-button");
                    const count = rating.querySelector(".rating-count");

                    !button.addEventListener("click", async () => {
                        console.log("Inside event listener")
                        if (rating.classList.contains("rating-selected")) {
                            return;
                        }

                        count.textContent = Number(count.textContent) + 1;
                        console.log(count.textContent)

                        ratings.forEach(rating => {
                            if (rating.classList.contains('rating-selected')) {
                                const count = rating.querySelector(".rating-count");

                                count.textContent = Math.max(0, Number(count.textContent) - 1);
                                rating.classList.remove('rating-selected');
                            }
                        });

                        rating.classList.add("rating-selected");

                        const likeOrDislike = likeRating === rating ? "like" : "dislike";

                    })
                });
            });
        }

        function updateList() {
            const updateButton = document.querySelector(".material-symbols-outlined")

            !updateButton.addEventListener("click", async () => {
                let tempDiv = document.createElement("div")
                console.log(document.getElementById("filter-text-val").value)
                fetch("/update?" + new URLSearchParams(({ json: document.getElementById("answer-box").innerHTML })))
                    .then(document.getElementById("answer-box").innerHTML = "", tempDiv.innerHTML = updateButtonTemplate(),
                        document.getElementById("answer-box").appendChild(tempDiv))
                    .then((response) => response.json())
                    .then((data) => data.forEach(row => {
                        artist_name = row[0]
                        artist_image = row[1]
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(artist_name, titleDesc = "", rating = "", image = artist_image)
                        document.getElementById("answer-box").appendChild(tempDiv)
                    }));
                // const response = await fetch(`/artists/${artistId}/${likeOrDislike}`);
                // const body = await response.json();
            });
        }

    </script>
</body>